{% extends "layout.html" %}
{% block body %}
<h3>Hakkımda</h3>
<br>
<img src="https://instagram.fesb6-1.fna.fbcdn.net/v/t51.2885-19/s320x320/151985061_2800279086879648_7143619155142301159_n.jpg?_nc_ht=instagram.fesb6-1.fna.fbcdn.net&_nc_ohc=xcmbQ2wgEkMAX8LxC6v&tp=1&oh=549cd0c7452515f39836e724c681f9b0&oe=605AE190" style="width:250px;" class="img-thumbnail float-left" alt="Cinque Terre">
<br><br><br><br><br><br><br><br><br><br><br>


<hr>
Lise ve Üniversite eğitimimi çok yüksek derece ile bitirdim.Üniversite diploma notum 3.47/4 olarak en üst derecelerde mühendislik fakültesini bitirdim.Ayrıca Uzaktan Algılama ve Görüntü İşleme konularında yaptığım lisans tezinde kendime ait algoritmalar oluşturdum ve yüksek başarı ile projeyi tamamladım.
Dialüx(Aydınlatma Programı)/Autocad üzerinden  çalışmalarda bulundum.Aktif olarak python programlama dilinde projeler yapmaktayım.


<hr>

{% endblock  %}