{% extends "layout.html" %}


{% block body %}
    <div class="jumbotron text-center bg-info">
        <h3>Yazılım Bilimi Bloğuna Hoşgeldiniz</h3>
        <p>Bu blogda geliştirdiğiniz blog yazılımlarınızı sitemize üye olup kontrol panelinizden paylaşabilir veya paylaşılan makelelerden yararlanabilirsiniz</p>
        
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md bg-light">
            <a href="https://www.python.org/" target="_blank">
            <img src="https://www.iienstitu.com/uploads/online-egitim/python-egitimi-kursu.jpg" style="width: 550px; height: 320px;" class="img-thumbnail float-left"  alt=" "/>
            </a>
            </div>
            <div class="col-md bg-light">
            <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">
            <img src="https://miro.medium.com/max/980/1*cWuvkF15QKOsTHtgyIaqOA.png" style="width: 550px; height: 320px;" class="img-thumbnail float-right" alt="">
            </a>
            </div>

        </div>
        
        <div class="row">
            <div class="col-md bg-light"><img src="https://lh3.googleusercontent.com/proxy/gdAStLidTELvJWmn-xc2ZvtrD0H63g-Z8PCMATi-zsRdPMr_1KSZwqgGu5Q5SraL_-5nwECXG3lF8mT0ILE2bmc1iEHQz8T7NRur9HOvSH2t7oUTf1zkffpKMQpardFl4wg7pz_Ft7l-_UKnWlLkz_XGLJHUPncIceJcTllU_w" style="width: 400px; height: 300px;" class="img-thumbnail float-right" alt=""></div>
            <div class="col-md bg-light"><img src="https://pythonawesome.com/content/images/2018/05/tornado.jpg" style="width: 400px; height: 300px;" class="img-thumbnail float-right" alt=""></div>
            <div class="col-md bg-light"><img src="https://miro.medium.com/max/1141/1*QwXNOgPPgml-r15_3Immig.jpeg" style="width: 400px; height: 300px;" class="img-thumbnail float-right" alt=""></div>
            <div class="col-md bg-light"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Bottle-logo.svg/1200px-Bottle-logo.svg.png" style="width: 400px; height: 300px;" class="img-thumbnail float-right" alt=""></div>
        </div>

    </div>
    
  
    
    

{% endblock  %}